<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Aplicação</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="container">
        <div class="main active">
            <div class="topbar">
                <div class="toggle" onclick="toggleMenu();"></div>
                <div class="search">
                    <label>
                        <input type="text" placeholder="Pesquise aqui" id="input">
                        <i class="bi bi-search"></i>
                    </label>
                </div>
                <div class="user">
                    <img src="../img/user.jpg" alt="Usuário do sistema">
                </div>

            </div>
        </div>
    </div>
    <div class="navigation active">
        <ul>
            <li>
                <a href="#">
                    <span class="icon icon-p"><i class="bi bi-hand-thumbs-up-fill"></i></span>
                    <span class="title">
                        <h2>Nome Empresa</h2>
                    </span>
                </a>
            </li>
            <li>
                <a href="./index.html">
                    <span class="icon"><i class="bi bi-house-door-fill"></i></span>
                    <span class="title">
                        <h2>Dashboard</h2>
                    </span>
                </a>
            </li>
            <li>
                <a href="./empregados.html">
                    <span class="icon"><i class="bi bi-people-fill"></i></span>
                    <span class="title">
                        <h2>Empregados</h2>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="bi bi-chat-left-text-fill"></i></span>
                    <span class="title">
                        <h2>Mensagem</h2>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="bi bi-info-square-fill"></i></span>
                    <span class="title">
                        <h2>Ajuda</h2>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="bi bi-lock-fill"></i></span>
                    <span class="title">
                        <h2>Senha</h2>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="bi bi-box-arrow-in-right"></i></span>
                    <span class="title">
                        <h2>Logar</h2>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    </div>
    <script src="../js/style.js"></script>
</body>

</html>